.Sidebar {
  margin-top: 10px;
  background-color: white;
  width: 250px;
  box-shadow: 0 5px 12px rgb(126 142 177 / 20%);
  position: fixed;
  left: 0;
  padding: 2rem 2rem;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.Sidebar-content {
  display: flex;

  flex-direction: column;
}
.Sidebar-content a {
  padding: 1rem 1rem;
  text-decoration: none;
  color: #4b5b6b;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}
