* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: var(--font-family);
}
body {
  background: var(--color-bg);
  letter-spacing: 0.5px;
}
